echo '=================================='
echo 'loading .envrc virtual environment'
echo '=================================='

layout python3
echo $PYTHONPATH=${PYTHONPATH}:${HOME}/mjsPython

export pip_flagDir=${PWD}/.direnv/pip_flags
mkdir -p $pip_flagDir
echo "UPDATE PIP?"
if [ ! -f "${pip_flagDir}/.pip_updated" ]; then
  echo 'updating pip now'
  pip install --upgrade pip
  pip_success=$?
  if ((pip_success < 1)); then
    touch $pip_flagDir/.pip_updated
  fi
else
  echo 'pip previously updated'
fi

# declare an array of pip packages
pip_installs=(
  "numpy"
  "matplotlib"
  "ipykernel"
  "jupyter"
  "pytest"
  "gif"
  "ipympl"
  # "pandas"
  # "seaborn"
  # "gif"
  # "setuptools==58"
  # "pycallgraph"
  # "mat73"
)
## now loop through the above array
for pkg in "${pip_installs[@]}"; do
  echo "INSTALL ${pkg}?"
  if [ ! -f "${pip_flagDir}/.${pkg}_installed" ]; then
    echo "installing ${pkg} now"
    pip install $pkg
    pkg_installed=$?
    if ((pkg_installed < 1)); then
      touch $pip_flagDir/.${pkg}_installed
    fi
  else
    echo "${pkg} previously installed"
  fi
done

# enables debug mode
# export DEBUG=1

# Project ships with an iPython configuration stored in $PWD/.ipython
# here we can instruct iPython to look in this folder for a configuration profile
export IPYTHONDIR=$PWD/.ipython

# Set the jupyter notebook config directory to be local
export JUPYTER_CONFIG_DIR=$PWD/.jupyter

profile_relDir=.ipython/profile_default
profile_fname=ipython_config.py
local_profile_dir=${PWD}/${profile_relDir}
local_profile=${local_profile_dir}/${profile_fname}
short_profile_loc=${profile_relDir}/${profile_fname}
# add my own modules to the python path via ipython config file
if [ ! -f "${local_profile}" ]; then
  mkdir -p $local_profile_dir
  cp ${HOME}/.ipython/profile_mjs_config/${profile_fname} ${local_profile_dir}
  echo "local ipython profile added to ${short_profile_loc}"
else
  echo "local ipython profile already present at ${short_profile_loc}"
fi

echo '=================================='
echo '        environment loaded        '
echo '=================================='
